# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/node_modules

# production
/dist
/examples/weilai-h5/node_modules
/examples/weilai-h5/.vscode

# misc
.DS_Store

# umi
.umi
.umi-production
